<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- 网页标签标题 -->
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.customVar.rootPath %>/img/docsite.ico"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
	<div id="root"></div>
	<script src="https://f.alicdn.com/react/15.4.1/react-with-addons.min.js"></script>
	<script src="https://f.alicdn.com/react/15.4.1/react-dom.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-router-dom@4.2.2/umd/react-router-dom.min.js"></script>
	<script>
		// see https://www.smashingmagazine.com/2016/08/sghpa-single-page-app-hack-github-pages/
    (function(){
      var redirect = sessionStorage.redirect;
      delete sessionStorage.redirect;
      if (redirect && redirect != location.href) {
        history.replaceState(null, null, redirect);
      }
		})();
		
		window.rootPath = '<%= htmlWebpackPlugin.options.customVar.rootPath %>';
  </script>
	<script src="<%= htmlWebpackPlugin.options.customVar.rootPath %>/build/page.js"></script>
</body>
</html>